
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ECOCOMMERCE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="Categoria"><a href="IndexProdotti">Prodotti</a></div>
    <br><br>
    <div class="Categoria"><a href="IndexClienti">Clienti</a></div>
    <br><br>
    <div class="Categoria"><a href="IndexOrdini">Ordini</a></div>
    <br><br>
    <div class="Categoria"><a href="Listini">Listini</a></div>
    <br><br>
    <div>
        <h4 class="display-4">Seleziona Regione</h4>
        <select class="Pays">
            <option>Italia</option>
            <option>Spagna</option>
            <option>Japan</option>
            <option>UK</option>
        </select>
    </div>
</div>
